{% extends "header.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="row">
    <div class="col-4 about-me">
        <h5>ABOUT ME</h5>
    </div>
    <div class="col-8 about-line"></div>
</div>

<div class="row about-scroll">
    <div class="col-6 little_info">
        <p>Hello there! My name is <strong>Harish Chaudhary.</strong> I am a python developer, and I'm very passionate and dedicated to my work.</p>
        <br>
        <p>To be a part of an organization where I can grow in terms of knowledge, skills and attitude
        and make effective use of my technical abilities and professional competence in the python
        developer industry. </p>
    </div>
    <div class="col-6 little_info">
        <div class="row">
            <div class="col-4">
                <h6>Name:</h6>
            </div>
            <div class="col-8">
                <p>Harish Chaudhary</p>
            </div>

            <div class="col-4">
                <h6>Address:</h6>
            </div>
            <div class="col-8">
                <p>Neb Sarai, Delhi_NCR, India</p>
            </div>

            <div class="col-4">
                <h6>Study:</h6>
            </div>
            <div class="col-8">
                <p>Motilal Nehru College</p>
            </div>

            <div class="col-4">
                <h6>Degree:</h6>
            </div>
            <div class="col-8">
                <p>Bachelor in Applied Computer Science</p>
            </div>

            <div class="col-4">
                <h6>Mail:</h6>
            </div>
            <div class="col-8">
                <p>Harishchaudhary920@gmail.com</p>
            </div>

            <div class="col-4">
                <h6>Phone:</h6>
            </div>
            <div class="col-8">
                <p>+91 7053118068</p>
            </div>
        </div>
    </div>

    <div class="col-6 little_info">
        <h5>CE<u>RTIFICAT</u>ES</h5>
        <ul>
            <li><p> Ai (05/2020) </p></li>
            <li><p> Web development (02/2021) </p></li>
            <li><p> Python bootcamp (11/2021) </p></li>
            <li><p> Presentation skill (03/2021) </p></li>
        </ul>
    </div>
    <div class="col-6 little_info">
        <h5>LA<u>NGUAG</u>ES</h5>
        <ul>
            <li><p> English </p></li>
            <li><p> Hindi </p></li>
        </ul>
    </div>

</div>


{% endblock %}

{% block year %}
{{year}}
{% endblock %}

