{% extends "header.html" %}
{% block title %}Harish{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4 about-me">
        <h5 class="contact">CONTACT</h5>
    </div>
    <div class="col-8 about-line get-line"></div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6 col-sm-3 c-detail">
          <i class="fa-solid fa-location-dot"></i>
          <p class="c-container">Neb Sarai, Delhi_NCR, India</p>
      </div>

      <div class="col-6 col-sm-3 c-detail">
          <i class="fa-solid fa-envelope"></i>
          <p class="c-container">Harishchaudhary920 @gmail.com</p>
      </div>

      <div class="col-6 col-sm-3 c-detail">
          <i class="fa-solid fa-mobile-button"></i>
          <p class="c-container">+91 7053118068</p>
      </div>

  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6 col-sm-3">

          {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p class="flash">{{msg}}</p>
                    {% endfor %}
                {% endif %}
          {% endwith %}

          <form action="{{ url_for('contact') }}" method="post">
              <input type="text" name="name" placeholder="name" class="u-detail">
              <input type="email" name="email" placeholder="email" class="u-detail">
              <textarea type="message" name="message" placeholder="Enter your message" class="u-detail"></textarea>
              <input type="submit" name="submit" value="SUBMIT" class="btn btn-info">
          </form>
      </div>

      <div class="col-6 col-sm-3 map">
<!--          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.1082864445257!2d77.24630764759127!3d28.506389592157202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce10bb9b35ca9%3A0x93c2a4d927e3bf72!2s53%2C%20Gali%20No.%204%2C%20Block%20F%2C%20Sangam%20Vihar%2C%20New%20Delhi%2C%20Delhi%20110044!5e0!3m2!1sen!2sin!4v1656782606509!5m2!1sen!2sin" width="310" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.915513954765!2d77.24311045444554!3d28.50695527746625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce10bb9b35ca9%3A0x93c2a4d927e3bf72!2s53%2C%20Gali%20No.%204%2C%20Block%20F%2C%20Sangam%20Vihar%2C%20New%20Delhi%2C%20Delhi%20110044!5e1!3m2!1sen!2sin!4v1656783550743!5m2!1sen!2sin" width="310" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
</div>



{% endblock %}

{% block year %}
{{year}}
{% endblock %}
