{% extends "header.html" %}
{% block title %}Skills{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4 about-me">
        <h5>MY SKILLS</h5>
    </div>
    <div class="col-8 about-line"></div>
</div>

<div class="skills about-scroll">
  <div class="skill">
    <div class="skill-name">Python</div>
    <div class="skill-bar">
      <div class="skill-per" per="90%" style="max-width:90%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">mysql</div>
    <div class="skill-bar">
      <div class="skill-per" per="85%" style="max-width:85%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Html</div>
    <div class="skill-bar">
      <div class="skill-per" per="80%" style="max-width:80%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Css</div>
    <div class="skill-bar">
      <div class="skill-per" per="75%" style="max-width:75%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">C, C++</div>
    <div class="skill-bar">
      <div class="skill-per" per="75%" style="max-width:75%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Java</div>
    <div class="skill-bar">
      <div class="skill-per" per="72%" style="max-width:72%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Adobe photoshop</div>
    <div class="skill-bar">
      <div class="skill-per" per="65%" style="max-width:65%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Adobe illustrator</div>
    <div class="skill-bar">
      <div class="skill-per" per="62%" style="max-width:62%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Javascript</div>
    <div class="skill-bar">
      <div class="skill-per" per="55%" style="max-width:55%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Flutter</div>
    <div class="skill-bar">
      <div class="skill-per" per="50%" style="max-width:50%"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block year %}
{{year}}
{% endblock %}
